{% block cms_element_html_css_js_twig_code %}
    {% set config = element.fieldConfig.elements %}

    {% set htmlCssJsTwigCodeElementContent %}
        {% if config.contentHtml.value %}
            {{ config.contentHtml.value|raw }}
        {% endif %}

        {% if config.contentCss.value %}
            <style>
                {{ config.contentCss.value|raw }}
            </style>
        {% endif %}

        {% if config.contentJavaScript.value %}
            <script type="text/javascript">
                {{ config.contentJavaScript.value|raw }}
            </script>
        {% endif %}
    {% endset %}

    {% block cms_element_html_css_js_twig_code_inner %}
        <div class="cms-element-{{ element.type }}{% if config.verticalAlign.value %} has-vertical-alignment{% endif %}{% if config.horizontalAlign.value %} has-horizontal-alignment{% endif %}">
            {% if config.verticalAlign.value or config.horizontalAlign.value %}
                <div class="cms-element-alignment{% if config.verticalAlign.value == "center" %} align-self-center{% elseif config.verticalAlign.value == "flex-end" %} align-self-end{% elseif config.verticalAlign.value == "flex-start" %} align-self-start{% endif %}{% if config.horizontalAlign.value == "center" %} text-center{% elseif config.horizontalAlign.value == "flex-end" %} text-end{% elseif config.horizontalAlign.value == "flex-start" %} text-start{% endif %}">
            {% endif %}

            {% if config.enableTwigInContentHtml.value %}
                {% include(template_from_string(htmlCssJsTwigCodeElementContent)) %}
            {% else %}
                {{ htmlCssJsTwigCodeElementContent }}
            {% endif %}

            {% if config.verticalAlign.value or config.horizontalAlign.value %}
                </div>
            {% endif %}
        </div>
    {% endblock %}
{% endblock %}
